name: build(node)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - 'node/**'
  push:
    branches:
      - main
    paths:
      - 'node/**'
  workflow_dispatch:
  schedule:
    - cron: '0 0 3 * *'

jobs:
  node:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        name: ['node']
        suite: ['trixie', 'trixie-slim', 'alpine3.22', 'alpine3.23']
        version: ['20', '22', '24', '25']
        lts_version: ['22']
        latest_version: ['25']

    steps:
      - name: Checkout ${{ matrix.name }}
        uses: actions/checkout@v5

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Version
        run: |
          echo "build=true" >> $GITHUB_ENV
          if [ ! -f "${{ matrix.name }}/${{ matrix.version }}/${{ matrix.suite }}/Dockerfile" ]; then
            echo "build=false" >> $GITHUB_ENV
            exit 0
          fi
          full_version=$(grep -m1 -oP "ENV NODE_VERSION=\K.*" ${{ matrix.name }}/${{ matrix.version }}/${{ matrix.suite }}/Dockerfile)
          echo "full_version=${full_version}" >> $GITHUB_ENV

          version=${{ matrix.version }}
          image_tag=${version}
          full_image_tag=${full_version}

          if echo ${{ matrix.suite }} | grep -q 'alpine'; then
            image_tag=${version}-${{ matrix.suite }}
            full_image_tag=${full_version}-${{ matrix.suite }}
          fi
          if echo ${{ matrix.suite }} | grep -q 'slim'; then
            image_tag=${version}-slim
            full_image_tag=${full_version}-slim
          fi
          echo "image_tag=${image_tag}" >> $GITHUB_ENV
          echo "full_image_tag=${full_image_tag}" >> $GITHUB_ENV

      - name: Build and push image
        if: env.build == 'true'
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.name }}/${{ matrix.version }}/${{ matrix.suite }}/
          platforms: linux/loong64
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ matrix.name }}:${{ env.full_version }}-${{ matrix.suite }}-loong64

      - name: Prepare configuration
        run: |
          wget -qO- https://github.com/google/go-containerregistry/releases/latest/download/go-containerregistry_Linux_x86_64.tar.gz | sudo tar -xzf - -C /usr/local/bin/ crane
          sudo chmod +x /usr/local/bin/crane
          sudo chown root:root /usr/local/bin/crane

      - name: Pull and Push Images
        if: (github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
        run: |
          full_version="${{ env.full_version }}"
          minor_version=$(echo "$full_version" | cut -d'.' -f1-2)
          major_version=$(echo "$full_version" | cut -d'.' -f1)
          repo="ghcr.io/${{ github.repository_owner }}/node"
          suite="${{ matrix.suite }}"
          version="${{ matrix.version }}"
          lts_version="${{ matrix.lts_version }}"
          latest_version="${{ matrix.latest_version }}"

          crane index append -t "$repo:$full_version-$suite" \
            -m "$repo:$full_version-$suite-loong64" \
            -m "node:$full_version-$suite"
          crane cp "$repo:$full_version-$suite" "$repo:$minor_version-$suite"
          crane cp "$repo:$full_version-$suite" "$repo:$major_version-$suite"

          if [ "$version" = "$lts_version" ]; then
            crane cp "$repo:$version-$suite" "$repo:lts-$suite"
          fi

          case "$suite" in
            trixie)
              if [ "$version" = "$latest_version" ]; then
                crane cp "$repo:$version-$suite" "$repo:latest"
                crane cp "$repo:$version-$suite" "$repo:$major_version"
              fi
              ;;
            alpine3.23)
              crane cp "$repo:$full_version-$suite" "$repo:$full_version-alpine"
              crane cp "$repo:$full_version-$suite" "$repo:$minor_version-alpine"
              crane cp "$repo:$full_version-$suite" "$repo:$major_version-alpine"
              if [ "$version" = "$lts_version" ]; then
                crane cp "$repo:$version-$suite" "$repo:lts-alpine"
              fi
              if [ "$version" = "$latest_version" ]; then
                crane cp "$repo:$full_version-$suite" "$repo:alpine"
              fi
              ;;
            *)
              echo "No push actions for suite: $suite"
              ;;
          esac