name: Check Images

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: 0 1 * * *

jobs:
  check-python:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['trixie', 'slim-trixie', 'alpine']
        app: ['python']
        version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} python --version

  check-golang:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['trixie', 'alpine']
        app: ['golang']
        version: ['1.24', '1.25']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} go version

  check-node:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['trixie', 'trixie-slim', 'alpine']
        app: ['node']
        version: ['20', '22', '24', '25']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} node --version

  check-redis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['trixie', 'alpine']
        app: ['redis']
        version: ['6.2', '7.0', '7.2', '7.4', '7.4-rc']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} redis-server --version

  check-postgres:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['trixie', 'alpine']
        app: ['postgres']
        version: ['14', '15', '16', '17', '18']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} psql --version

  check-mariadb:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['trixie']
        app: ['mariadb']
        version: ['11.8', '12.1', '12.2']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} mariadb --version

  check-nginx:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['trixie', 'alpine']
        app: ['nginx']
        version: ['1.28', '1.29']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} nginx -V

  check-php:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: ['alpine']
        app: ['php']
        version: ['8.2-cli', '8.2-fpm', '8.2-zts', '8.3-cli', '8.3-fpm', '8.3-zts', '8.4-cli', '8.4-fpm', '8.4-zts', '8.5-cli', '8.5-fpm', '8.5-zts']

    steps:
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Check ${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }}
      run: |
        docker run --rm --platform linux/loong64 ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}:${{ matrix.version }}-${{ matrix.suite }} /usr/local/bin/php --version
